/*
    paleta de colores: #e8c38e, #cd9e5a, #035946, #033033, #031324
*/

:root {
    --button-color: #035946;
    --background-color: #e8c38e;
    --font-color: #033033;
    --color-one: #cd9e5a;
    --color-tow: #031324;
    --font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
}

.residences {
    background-color: var(--background-color) 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    flex-direction: row;
}

.residences .item{
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
}

.residences .item img{
    max-width: 800px;
    min-height: 480px;
    width: 800px;
    height: 480px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.residences h1 {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: bold;
}